*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
}

#problems--trying{
    width: 100%;
    height: auto;
    
    .container{
        padding: 35px 283px;
        margin-top: 200px;

        .all{
            display: flex;
         
            .problems_head{
                
                p{
                    margin-bottom: 25px;
                    margin-left: 105px;
                    opacity: 0.7;
                }
                h1{
                    margin-bottom: 20px;
                    
                }
                span{
                    opacity: 0.7;
                    
                }
                margin-bottom: 20px;
            }
            .try_submit{
              
                position: relative;
                padding: 1px 75px;
                form{
                
                    .try_now{
                        width: 100px;
                        height: 37px;
                        border: 1px solid skyblue;
                        background-color: skyblue;
                        border-radius: 4px;
                        color: #fff; 
                        position: absolute;
                        top: 156px;
                        left: -353px;
                    }
                    .learn_more{
                        width: 115px;
                        height: 37px;
                        border: 1px solid skyblue;
                        border-radius: 4px;
                        color: skyblue;
                        background-color: #fff;
                        position: absolute;
                        top: 156px;
                        left: -243px;
                    }
                }
                
                .line{
                    border-right: 1px solid black;
                    height: 315px;
                    width: 447px;
                    position: absolute;
                    top: -38px;
                    left: -367px;
                }
            }

            .info_logo{
                position: relative;
                .lyft{
                    position: absolute;
                    top: 140px;
                    right: 323px;
                }
                .robin_logo{
                    position: absolute;
                    top: 140px;
                    right: 178px;
                }
                .stripe{
                    position: absolute;
                    top: 130px;
                    right: -33px;
                }
            }
        }
      

   

    
    }
}